form {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

img {
  max-width: 300px;
}

label {
  display: flex;
  flex-direction: column;
}

button {
  width: 300px;
  height: 40px;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
span {
  color: brown;
  position: absolute;
  margin-top: 50px;
}